@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: norseBold;
    src: url(fonts/Norse-Bold.otf);
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
margin: 0;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
display: flex;
font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* align-items: flex-start; */
    background-image: url(img/photo-1585202900225-6d3ac20a6962.avif);
    background-size: cover;
    height: 100vh;
    max-width: 40vw;
    flex: auto;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 5em;
    max-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'norseBold', Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    flex: auto;
}

header img {
    height: 2em;
    width: 1.75em;
    margin: 0.3em 0.1em;
}

header h1 {
    padding-top: 0.2em;
}

footer {
    margin-bottom: 1em;
}

footer a {
    color: white;
}

#form-section {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    max-width: 60vw;
    background-color: #EDEDED;
    padding-right: 2.5em;
    padding-left: 2.5em;
}

.form-section-header {

}