@font-face {
    font-family: norseBold;
    src: url(fonts/Norse-Bold.otf);
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
margin: 0;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
display: flex;

}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

#sidebar {
    display: inherit;
    align-items: flex-start;
    background-image: url(img/photo-1585202900225-6d3ac20a6962.avif);
    background-size: cover;
    height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'norseBold', Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
}

header img {
    height: 20%;
    width: 20%;
    /* object-fit: contain; */
    /* margin: 30px 1px; */
    margin: 0.3em 0.1em;
}

#form-section {
    display: flex;
    flex-direction:column;
    max-width: 40vw;
}